.accordion { /*Clase del boton de metricas o lista de metricas*/
  margin: 60px auto;
  width: 600px;
  display: center;
}

.accordion li { /*Lista acordion*/
  list-style: none; /*es el puntito de cada elemento de la lista */
  justify-content: center;
  width: 100%;
  margin:10px;
  padding: 10 px;
  border-radius: 8px;
  background-color: #e3edf3;
  box-shadow: 6px 6px  10px -1px rgba(0,0,0,0.15), -6px -6px 10px -1px rgba(255,255,255,0.7); 
  overflow: hidden;
}

.accordion li label{ /*etiqueta de la lista*/
  display: flex;
  align-items: center;
  padding:10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.accordion li label::before{ /*antes de cualquier input*/
  content:'+';
  margin-right:10px;
  font-size: 24px;
  font-weight: 600;
  transition: transform 0.3s ease; 
}

.content_metricas{
  color:#555;
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s,padding 0.5s ease; 
}

.accordion li.active label::before { 
  content: '-';
}

 .accordion li.active .content_metricas {
            max-height: 400px;
            padding: 45px;
        }